.projects-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#248cac;
}

.project-item {
    width: 25rem;
    padding: 1em;
    text-align: center;
}

.project-item h1 {
    font-size: 18px;
    color: white;
}

.project-item img {
    width: 100%;
    max-width: 400px;
    height: 250px;
}

.project-item a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgb(236, 169, 45);
    padding: 1em;
}

.project-item a.alt-button{
    background-color: orangered;
}

.about-container {
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 2em;
    box-shadow: black 0px 10px 50px;
}

.about-container p {
    display: block;
    margin: 15px 0px 15px 0px;
}

.about-container img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-size: 36px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .projects-container{
        flex-direction: column;
    }
    .project-item img {
        max-width: 100%;
        height: 20rem;
    }
}

@media only screen and (max-width: 1000px) {
    .project-item img {
        max-width: 100%;
        height: 10rem;
    }
}